@font-face {
  font-family: JetBrainsMono;
  src: url(fonts/JetBrainsMono-VariableFont_wght.ttf);
}

:root {
  --primary: #13293d;
  --text: #e8f1f2;
  --dark-text: #242829;
  --dark-text2: #525859;
  --secondary: #006494;
  font-size: 12px;
  color: black;
  font-family: "JetBrainsMono", "monospace", "arial";
}

html,
body {
  margin: 0;
  padding: 0;
}
