@font-face {
  font-family: JetBrainsMono;
  src: url(fonts/JetBrainsMono-VariableFont_wght.ttf);
}

:root {
  --bg1: url("../images/backgrounds/d2LightfallBackground1.jpg");
  --bg2: url("../images/backgrounds/d2LightfallBackground2.jpg");
  --bg3: url("../images/backgrounds/d2LightfallBackground3.jpg");
  --primary: #210029;
  --secondary: #65209c;
  --background-c: #eec4f8;
  --text: #eee8f2;
  --dark-text: #212022;
  --dark-text2: #565259;
  font-size: 12px;
  color: black;
  font-family: "JetBrainsMono", "monospace", "arial";
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-c);
}
