header a,
header a:hover,
header a:focus,
header a:active {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: var(--primary);
  width: 100%;
  padding: 0;
  height: 65px;
  display: flex;
  justify-content: center;
}

header div {
  display: flex;
  padding: 0 2%;
}

header img {
  position: relative;
  margin: 0 0;
  align-self: center;
  padding-right: 10px;
  height: 26px;
}

header h1 {
  margin: 0 0;
  padding-right: 20px;
  align-self: center;
  color: var(--text);
}

header p {
  margin: 0 0;
  align-self: center;
  color: var(--text);
}

.disclaimer {
  display: flex;
  color: var(--text);
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: var(--secondary);
  border-radius: 25px;
}

.content {
  display: flexbox;
  margin-bottom: 15px;
  align-items: center;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 25px;
  margin: 10px 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.information p {
  font-size: 18px;
  color: var(--text);
  text-align: center;
}

.information h1 {
  margin: 0;
  padding: 0;
}

.information div {
  display: flex;
  padding: 0 2%;
}

.information ul {
  list-style: none;
}

.information li {
  display: inline-block;
  margin-right: 15px;
}

.information li:last-of-type {
  margin-right: 25px;
}

.information a,
.information i {
  font-size: 18px;
  color: var(--text);
  text-align: center;
  text-decoration-line: underline;
  -moz-text-decoration-line: underline;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  background-color: var(--dark-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
}

footer p {
  align-self: center;
  color: var(--dark-text2);
  font-size: 16px;
}
.footer-socials {
  align-self: center;
  padding: 0 4px;
}
.footer-socials a {
  color: var(--dark-text2);
  font-size: 24px;
}

@media screen and (max-width: 480px) {
  section.disclaimer {
    flex-direction: column;
    margin-right: 15px;
    margin-left: 20px;
    font-size: 12px;
  }

  .disclaimer:nth-of-type(2) {
    margin-top: 10px;
  }

  .mobile-gap {
    height: 10px;
  }

  article.information {
    font-size: 10px;
  }
  header p {
    display: none;
  }
  header h1 {
    justify-content: center;
  }
}

@media screen and (min-width: 481px) {
  section.disclaimer {
    flex-direction: row;
    margin: 10px 80px;
    font-size: 14px;
  }
  .disclaimer:nth-of-type(2),
  .disclaimer:nth-of-type(3) {
    margin: 10px 60px;
  }
  article.information {
    margin: 10px 15px;
  }
}
@media screen and (max-width: 1000px) and (min-width) {
  section.disclaimer {
    flex-direction: row;
    margin: 10px 180px;
  }
  .disclaimer:nth-of-type(2),
  .disclaimer:nth-of-type(3) {
    margin: 10px 160px;
  }
  article.information {
    margin: 10px 100px;
  }
}

@media screen and (min-width: 1615px) {
  section.disclaimer {
    flex-direction: row;
    margin: 10px 300px;
  }
  .disclaimer:nth-of-type(2),
  .disclaimer:nth-of-type(3) {
    margin: 10px 260px;
  }
  article.information {
    margin: 10px 110px;
  }
}
