<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>D2Utility</title>
    <link rel="stylesheet" href="{{url_for('static', path='/base.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css')}}" />
    <link rel="icon" href="{{url_for('static', path='/destinyicon-dark.png')}}">
    <script src="https://kit.fontawesome.com/37b77105bf.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <div>
        <img src="{{url_for('static', path='/destinyicon.png')}}" alt="Destiny 2 icon">
        <h1>D2Utiliy</h1>
        <p>Useful utility sites for Desiny 2</p>
      </div>
    </header>
    <section class="disclaimer">
      <p>
        Disclaimer: 
      </p>
      <p>I do not own any of these sites that are listed</p>
    </section>
    <div class="sites">
      {% for site in sites %}
      <article class="information">
        <h1>{{site.name}}</h1>
        <p>{{site.description}}</p>
        <div>
          <ul>
            <li><a href="{{site.url}}">Link</a></li>
            {% if site.ios_url %}
            <li><a href="{{site.ios_url}}"><i class="fa-brands fa-app-store-ios"></i></a></li>
            {% endif %}
            {% if site.android_url %}
            <li><a href="{{site.android_url}}"><i class="fa-brands fa-android"></i></a></li>
            {% endif %}
            {% if site.discord_url %}
            <li><a href="{{site.discord_url}}"><i class="fa-brands fa-discord"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </article>
      {% endfor %}
    </div>
    <footer>
      <p>made by: Darien Moore</p>
      <div class="footer-socials">
        <a class="github" target="_blank" href="https://github.com/LiskIsBest"><i class="fa-brands fa-github"></i></a>
        <a class="youtube" target="_blank" href="https://www.youtube.com/@lisk"><i class="fa-brands fa-youtube"></i></a>
        <a class="twitch" target="_blank" href="https://www.twitch.tv/liskisbetter"><i class="fa-brands fa-twitch"></i></a>
      </div>
    </footer>
  </body>
</html>
